[Desktop Entry]
Name=Glines
Name[fi]=Glines
Name[no]=Glines
Comment=Gnome color lines
Comment[hu]=Color lines játék GNOME alá
Comment[fi]=Värilliset rivit
Comment[no]=Gnome fargelinjer
Exec=glines
Icon=glines.xpm
Terminal=0
Type=Application
