/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/glines.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/glines.xml
/cs/cs.po
/cs/glines.xml
/de/de.po
/de/glines.xml
/el/el.po
/el/glines.xml
/en_GB/en_GB.po
/en_GB/glines.xml
/es/es.po
/es/glines.xml
/eu/eu.po
/eu/glines.xml
/fr/fr.po
/fr/glines.xml
/glines-C.omf
/glines-ca.omf
/glines-cs.omf
/glines-de.omf
/glines-el.omf
/glines-en_GB.omf
/glines-es.omf
/glines-eu.omf
/glines-fr.omf
/glines-it.omf
/glines-oc.omf
/glines-ru.omf
/glines-sv.omf
/glines-tr.omf
/it/glines.xml
/it/it.po
/oc/glines.xml
/oc/oc.po
/ru/glines.xml
/ru/ru.po
/so_locations
/sv/glines.xml
/sv/sv.po
/tags
/tr/glines.xml
/tr/tr.po
